<script lang="ts">
    import tigerFactory, {
        ContextDeferredAuthProvider,
        redirectToTigerAuthentication,
    } from "@gooddata/sdk-backend-tiger";
    import { idRef } from "@gooddata/sdk-model";
    import { onMount } from "svelte";
    import { Insights } from "./md";
    import { Chart, registerables } from "chart.js";

    const gooddataHostname = "https://apricot-cobra.trial.cloud.gooddata.com";
    const gooddataWorkspaceId = "c72336fe51a845ef961b720a6ec5e39d";
    const backend = tigerFactory()
        .onHostname(gooddataHostname)
        .withAuthentication(new ContextDeferredAuthProvider(redirectToTigerAuthentication));

    onMount(async () => {
        const insight = await backend
            .workspace(gooddataWorkspaceId)
            .insights()
            .getInsight(idRef(Insights.BudgetCategory));
        const insightData = await backend
            .workspace(gooddataWorkspaceId)
            .execution()
            .forInsight(insight)
            .execute();
        const insightDataResult = await insightData.readAll();

        const data = insightDataResult.data[0];
        const labels = insightDataResult.headerItems[1][0].map(value => value.attributeHeaderItem.name);

        console.log(labels);

        const ctx = document.getElementById("chart").getContext("2d");

        Chart.register(...registerables);

        new Chart(ctx, {
            type: "line",
            data: {
                labels,
                datasets: [
                    {
                        label: "Budget / Category",
                        backgroundColor: "rgb(255, 99, 132)",
                        borderColor: "rgb(255, 99, 132)",
                        data,
                    },
                ],
            },
            options: {},
        });
    });
</script>

<canvas id="chart"></canvas>
